<head>
    <meta charset="UTF-8">
    <title>welecome</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div>
    <div style="width:45%;display: inline-block;font-size: 100%">
        <h1 style="font-size: 60px;">{{data}}</h1>
        <p>看到这个页面说明你的站点已经可以正常运行</p>
        <p>欢迎使用!</p>
        <hr style="margin-bottom: 100px;">
        <p style="">------精 简 php 框 架------</p>
        <h2><span style="font-size: 30px;color:red;">S</span>ample <span style="font-size: 30px;color:red;">F</span>ramework - PHP</h2>
        <!--<h5><span style="font-size: 24px;color:red;">SF</span>就是我最喜欢的影魔啦，所以影魔镇楼咯</h5>-->
        <h1 style="padding-top:40px;color:red"><i>NEVER MORE!</i></h1>
    </div>
    <div style="width:45%;display: inline-block">
        <pre style="font-size:8pt; letter-spacing:4px; line-height:8pt; font-weight:bold;">
                            #f DD,
                     #  WWK#:
                   #  WWWK#
                  ;.WWWWW#
                G WWWWWWWL
               . #WWWWWWW
               L WWWWWWWW
                 KWWWWWWW
                #EKWWWWWW                        ,f.
                 #WWWWWWW#  f###          E#      ##
                  #WWWWWW## WWt.   t##f   #       .##
                   KWWWWWK#K#    # EWWKKKj         WK#
                    tWWWWWWW#  .#WWWWWWW f         #W
                     tWWWWWWK. #WWWWWWKD#          #WW#
                      WWWWWWWW #WWWWWWWi   K.      #WK ,
                       #WWWWWWWWWWWWWWE#    #      #WW##
                        #WWWWWWWWWWWWW K:   ;      #WWW
                         :WWWWWWWWWWWWWK   #WL     WWWW W
                        # WWWWWWWWWWWWWWfLf W# .G##WWWWK#
                       # WW#WWWWWWWWWWWWWK:WWWWWWWWWWWWW
                      # #WWDWWWWWWWWWWWWWWWWWWWWWWWWWWWW j
                       ;WW# WWWWWWWWWWWWWWWWWWWWWWWWWW# .#
                     # WWWK .WWWWWWWWWWWWWWWWWWWWWWWK #t
                      KWWWWWWWWWWWWWWWWWWWWWWWWWW..#G
                    # KWWWWWWWWWWWWW##W#WWK,, D##;
                    . WWWWWWWWWWWWWW   #WWK#
                   # #WWWWWWWWWWWWWW#K#WWW
                   # WWWWWWWWWWWWWWWWWWWW##
                    jWWWW#L;WWWWWWWWWWWWW#G
                  . WWWWW    E#WWWWWWWWWW
                  # WWWWW      :#WWWWWWWW.
                  #KWWWW#          E#WWWW#
                   WWWWWD          G#WWWW#
                 ; WWWWW            WWWWWW
                 # WWWWW            WWWWtt
                 W;WWWWW            WWWW .
                 :DWWWWW ,         #WWWW
                  KWWWWWK#         #WWWW
  #               #WWWWWWWWW#L    WWWWWWi
  #    . E      ; #WWWWWWWWWWWW##f#WWWWWK                 W
  #     #       L #WWWWWWWWWWWWWWWWWWWWWW           G     #
 #i    .j       E #WWWWWWWWWWWWWWWWWWWWW#           #     i
 :,W   K#       # KWWWWWWWWWWWWWWWWWWWWW;           #
 .W D fW#    t# ;WWWWWWWWWWWWWWWWWWWWWWW #          jt   j.
EKWD f#Wf   #  DWWWWWWWWWWWWWWWWWWWWWWWW, ,#.        #  ;t
 EWWK #WK# #  WWWWWWWWWWWWWWWWWWWWWWWWWWWWE fL     #j. #tK
   WWW  WWt ,WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWf #  #;iW  KWW
  ##WWWWWW#KKWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWKW jW #WWWWWWW:
   ;WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW #
   . WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW#.K
    GKWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWK#.
   E KWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW f
  . #WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWK
  DWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWf#
   WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWK,.
</pre>
    </div>
</div>

<hr>
</body>