<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>buling年度报告</title>
</head>
<body>
<center>
    {%for i in range(1, 4)%}
    <div id="main{{i}}" style="width:60%;height:400px;margin: 50px;border:1px solid #eee;box-shadow: 5px 5px 5px #ddd;"></div>
    {%endfor%}
</center>
<script src="/plugs/echart/echarts-all.js"></script>
<script>
    var myChart = echarts.init(document.getElementById('main1'));
    var option = {% autoescape false %}{{option1}}{% endautoescape %};
    myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.getElementById('main2'));
    var option = {% autoescape false %}{{option2}}{% endautoescape %};
    myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.getElementById('main3'));
    var option = {% autoescape false %}{{option3}}{% endautoescape %};
    myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.getElementById('main4'));
    var option = {% autoescape false %}{{option4}}{% endautoescape %};
    myChart.setOption(option);
</script>
</body>
</html>